.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brand-logo {
  margin-left: 15px;
}

.navbar-fixed { 
  z-index: 9999;
}

.pointer-cursor {
  cursor: pointer;
}

.stack-list {
  display: inline-block;
  text-align: left;
}

.image-detail {
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-content-title {
  font-weight: bold;
}
